* {
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* primary arrow btn  */

.fa-solid {
    margin-left: 8px;
}

/* ---------------------------
      Navigation start here 
      -----------------------*/

.navigation {
    padding: 90px 0;
    margin: auto 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.heading {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;

}

.nav_list ul {
    display: flex;
    align-items: center;
}

.nav_list ul li {
    list-style: none;
    font-size: 16px;
    margin-right: 34px;
    color: #3A3A3A;
}

.nav_list ul li a {
    text-decoration: none;
    color: #3A3A3A;
}

.icon {
    font-size: 25px;
}

/* --------------------------------
        banner section start here 
------------------------------------ */

.banner_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 200px;
}

.banner_title {
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
    width: 80%;
}

.preebook_btn {
    border: none;
    border-radius: 41px;
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 24px;
    color: #ffff;
}

.banner_description {
    color: #3A3A3A;
    font-size: 16px;
    margin: 16px auto;
}

/* ---------------------------
            brand  
------------------------------*/

.branding_container {
    display: flex;
    justify-content: center;
    margin: 80px auto;
}

.branding_container ul {
    display: flex;
    column-gap: 60px;
}


.branding_1 {
    display: flex;
    list-style: none;
    column-gap: 60px;

}

.branding_2 {
    display: flex;
    list-style: none;
    column-gap: 60px;
}

/* 
.branding_container ul li {
    margin: auto 25px; */

/* ---------------------------
        article start here 
 --------------------------- */

.products_section {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 180px;
}

.products_title {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.products_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.products_item {
    width: 85%;
    margin: 30px;
    padding: 16px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);

}

.products_item img {
    width: 100%;
    margin-bottom: 16px;
}

.products_name {
    margin-bottom: 6px;
    font-size: 28px;
    color: #18191F;
}

.products_price {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 400;
}

.star_mark {
    display: flex;
    align-items: center;
    gap: 8px;
}

.star_mark ul {
    display: flex;
    list-style: none;
}

.star_mark ul li {
    color: #FB8200;
    font-size: 12px;
}

.star_bg_defarent {
    color: gray;
}

.more {
    color: #E02C6DDE;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
}

.more a {
    text-decoration: none;
    color: #E02C6DDE;
}

.products_description,
.ratting {
    color: #787885;
}

/* ---------------------------------
      about container start here 
------------------------------------ */

.about_container {
    width: 1440px;
    display: flex;
    align-items: center;
    margin: auto;
    gap: 100px;
}

.about_title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}


.about_description {
    color: #6C6C6C;
    font-size: 18px;
    font-weight: 700;

}

.join_btn {
    color: #FFF;
    background-color: #E02C6D;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px;
    border: none;
    margin-top: 16px;
}

.join_btn a {
    color: #FFF;
    text-decoration: none;
}

/* ---------------------------------
      footer section start here  
------------------------------------*/

.footer_section {
    width: 100%;
}

.footer {
    background-color: #0A0826;
    text-align: center;
    padding-top: 50px;
    margin-top: 100px;


}

.footer_title {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 3px;
}

.footer_description {
    color: white;
    margin-top: 3px;
    font-size: 14px;
    font-weight: 700;

}

.footer_icon ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 15px;
}

.footer_icon ul li {
    width: 32px;
    height: 32px;

}

.footer_icon ul li a {
    color: white;

}

/* -------------------------------
      midea query start here 
---------------------------------- */

@media only screen and (max-width:576px) {
    .navigation {
        visibility: hidden;
    }

    .banner_container {
        flex-direction: column-reverse;
        margin: auto 20px;
        padding: auto 20px;
    }

    .banner_title {
        font-size: 28px;
        text-align: center;
        margin: 15px auto;
    }

    .banner_description {
        font-size: 14px;
        text-align: center;

    }

    .btn_container {
        display: flex;
        justify-content: center;
        margin: 30px auto;

    }

    .branding_container {
        margin: 55px auto;
    }

    .branding_container ul {
        flex-direction: column;

    }

    .branding_1 {
        padding: auto 20px;

    }

    .branding_2 {
        display: flex;
        justify-content: center;
    }

    /* product item start here  */

    .products_section {
        width: 100%;
    }

    .products_title {
        font-size: 16px;
        font-weight: 800;
        text-align: center;
    }

    .products_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .products_item img {
        width: 100%;
    }

    .products_item p {
        font-size: 14px;
    }

    /* product section end  */

    /*  about_container start here  */


    .about_container {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .about_title {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
    }

    .about_description {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }

    .join_btn_class {
        display: flex;
        justify-content: center;
    }

    /* footer secton start here  */

    .footer_section {
        width: 100%;
    }
}